p{
    color:rgb(0, 0, 0);
    font-size:15px;
}
h1{
    background-color: rgb(24, 98, 14)   ;
    color: aqua;

    color: red;
}
    .body{
        background-image: url("img_lights.jpg");
        background-size: cover;
        
    }
    
   